<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="svcOrganizationSoap" />
                <binding name="svcCallLogsSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://support.cybersharks.net/services2/svcOrganization.asmx"
                binding="basicHttpBinding" bindingConfiguration="svcOrganizationSoap"
                contract="OrganizationService.svcOrganizationSoap" name="svcOrganizationSoap" />
            <endpoint address="http://support.cybersharks.net/services2/svcCallLogs.asmx"
                binding="basicHttpBinding" bindingConfiguration="svcCallLogsSoap"
                contract="CallLogsService.svcCallLogsSoap" name="svcCallLogsSoap" />
        </client>
    </system.serviceModel>
  <appSettings>
    <add key ="CallLogFileName" value = "C:\Program Files\3CX CRM Integration\Plugins\CallLog.exe"/>
    <add key ="DefaultGroup" value="General Support"/>
    <add key ="DefaultAgent" value="George"/>
  </appSettings>
</configuration>