<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="WeatherSoap" />
                <binding name="svcCallLogsSoap" />
                <binding name="svcOrganizationSoap" />
            </basicHttpBinding>
            <customBinding>
                <binding name="WeatherSoap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://wsf.cdyne.com/WeatherWS/Weather.asmx"
                binding="basicHttpBinding" bindingConfiguration="WeatherSoap"
                contract="WeatherService.WeatherSoap" name="WeatherSoap" />
            <endpoint address="http://support.cybersharks.net/services2/svcCallLogs.asmx"
                binding="basicHttpBinding" bindingConfiguration="svcCallLogsSoap"
                contract="CyberSharkService.svcCallLogsSoap" name="svcCallLogsSoap" />
            <endpoint address="http://support.cybersharks.net/services2/svcOrganization.asmx"
                binding="basicHttpBinding" bindingConfiguration="svcOrganizationSoap"
                contract="CyberSharkService2.svcOrganizationSoap" name="svcOrganizationSoap" />
        </client>
    </system.serviceModel>
</configuration>